@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bona+Nova:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baskervville&display=swap');

:root {
  /* COLORS */
  --primary: #fafafa;
  --on-primary: #000000;
  --secondary: #141414;
  --on-secondary: #ffffff;
  --white: hsl(0, 0%, 100%);
  --white-alpha-4: hsla(0, 0%, 100%, 0.04);
  --white-alpha-8: hsla(0, 0%, 100%, 0.08);
  --black-alpha-10: hsla(0, 0%, 0%, 0.1);

  /* GRADIENT COLORS */

  --first-gradient: linear-gradient(180deg, #AB1E1E 0%, rgba(0, 0, 0, 0.1) 100%);

  /* LETTERS & SIZE & WEIGHT */
  --title-ff: "Bona Nova";
  --title-fw: 700;
  --text-ff: "Baskervville";
  --text-fw: 400;
  --basic-ff: "Archivo";
  --basic-fw: 400;

  /* BORDER RADIUS */
  --radius-circle: 50%;

  /* BORDERS */
  --primary-outline: border: 1px solid rgba(0, 0, 0, 0.1);
  --secondary-outline: border: 1px solid rgba(255, 255, 255, 0.1);
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.6);
  background-color: #CCCCCC;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  background-color: #FFF;
  background-image: -webkit-linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 25%, transparent 100%, rgba(0, 0, 0, 1) 75%, transparent)
}



@font-face {
  font-family: "Telka";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/TelkaTRIAL-Regular.otf) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--secondary);
  background-size: cover;
  color: var(--on-secondary);
  max-width: 100%;
  height: 100vh;
  font-size: 16px;
  overflow-x: hidden;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  height: auto;
}

input,
button {
  background-color: none;
  border: none;
  outline: none;
  color: inherit;
  font: inherit;
}

input {
  width: 100%;
}

button {
  cursor: pointer;
}

a,
img,
input,
button,
span {
  display: block;
}

/*-----------------------------------*\
  #NAVBAR
\*-----------------------------------*/
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 65px;
  padding: 0 3.5em;
  border-bottom: 1px solid rgba(250, 250, 250, 0.1);
  font-family: var(--basic-ff);
  color: #fff;
}


.navbar__wrapper {
  display: flex;
  gap: 20px;
}


.navbar__logotype {
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.navbar__list {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 25px;
}

.navbar__list li a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
}

.navbar__button,
.navbar__closeButton {
  display: none;
}

.navbar__link--show {
  border-bottom: 1px solid #fff;
}

.navbar__link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #fff;
  transition: width .3s;
}

.navbar__link:hover::after {
  width: 100%;
  transition: width .3s;
}

/*-----------------------------------*\
  #NAVBAR ----- MOBILE
\*-----------------------------------*/


@media only screen and (max-width: 768px) {

  .navbar__button,
  .navbar__closeButton {
    display: block;
    border: 0;
    font-size: 1.25rem;
    background-color: transparent;
    cursor: pointer;
  }

  .navbar__button {
    color: #ffffff;
  }

  .navbar__closeButton {
    color: #ffffff;
  }

  .navbar {
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 2.5rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #141414;
    padding: 5rem;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
    z-index: 5;
  }

  .navbar.visible {
    opacity: 1;
    visibility: visible;
  }

  .navbar__list {
    flex-direction: column;
    align-items: end;
  }

  .navbar__list li a {
    color: #ecececec;
  }
}

/*-----------------------------------*\
  #MAIN
\*-----------------------------------*/

.index__main {
  padding: 0 1.5em 0 1.5em;
  position: absolute;
  width: 100%;
  z-index: 1 !important;
  color: #fafafa;
}

.main__titles {
  font-family: var(--title-ff);
  font-weight: var(--title-fw);
  font-size: 52px;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1.5em 0 0 0;
}

.main__information {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin: 3em;
}

.main__paragraphs {
  width: 100%;
  text-align: justify;
  font-family: "Archivo", sans-serif;
  font-size: 18px;
}

.main__contact {
  padding: 3.5em 0;
}

.main__link {
  font-size: 22px;
}

.main__icon {
  display: block;
  text-align: center;
  margin: 10px auto;
}

@media only screen and (min-width: 768px) {
  .index__main {
    padding: 3.5em 3.5em 0 3.5em;

  }

  .main__titles {
    font-family: var(--title-ff);
    font-weight: var(--title-fw);
    font-size: 92px;
    text-transform: uppercase;
    color: #fff;
    -webkit-text-stroke: 2px rgb(255, 255, 255);
    color: transparent;
    display: flex;
    flex-direction: column;
    padding: 0;
    transition: 500ms;
  }

  .main__headline--1 {
    align-self: flex-start;
  }

  .main__headline--2 {
    align-self: flex-end;
  }

  .main__information {
    font-family: var(--text-ff);
    font-weight: var(--text-fw);
    font-size: 22px;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    gap: 5px;
    margin: 3em 0;
  }

  .main__paragraphs {
    width: auto;
  }

  .main__paragraph--1 {
    text-align: end;
    padding: .5em 0;
  }

  .main__paragraph--2 {
    text-align: justify;
  }

  .main__underline p {
    letter-spacing: -.5mm;
  }

  .main__contact {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5em 0;
    color: rgba(130, 130, 130, 0.8);
  }

  .main__link {
    font-size: 22px;
  }

  .main__icon {
    font-size: 26px;
    display: block;
    text-align: end;
  }

  .main__icon:hover {
    animation-name: bounceAlpha;
    animation-duration: 1.4s;
    animation-delay: 0.2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
}


@keyframes bounceAlpha {
  0% {
    opacity: 1;
    transform: translateX(0px) scale(1);
  }

  25% {
    opacity: 0;
    transform: translateX(10px) scale(0.9);
  }

  26% {
    opacity: 0;
    transform: translateX(-10px) scale(0.9);
  }

  55% {
    opacity: 1;
    transform: translateX(0px) scale(1);
  }
}


@media only screen and (min-width: 912px) and (max-width: 1260px) {
  .main__titles {
    font-family: var(--title-ff);
    font-weight: var(--title-fw);
    font-size: 132px;
    text-transform: uppercase;
    color: #fff;
    -webkit-text-stroke: 2px rgb(255, 255, 255);
    color: transparent;
    display: flex;
    flex-direction: column;
    padding: 0;
    transition: 500ms;
  }
}

@media only screen and (min-width: 1260px) {
  .main__titles {
    font-size: 192px;
  }
}

/*-----------------------------------*\
  #FOOTER ---- MOBILE
\*-----------------------------------*/

footer {
  width: 100%;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border-top: 1px solid rgba(250, 250, 250, 0.1);
  color: #fff;
}


.footer__media {
  display: flex;
}

.footer__link {
  padding: .5rem;
  transition: 50ms;
}

/*-----------------------------------*\
  #FOOTER ---- DESKTOP
\*-----------------------------------*/

@media only screen and (min-width: 768px) {
  footer {
    width: 100%;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
    padding: 0 3.5em;
    border-top: 1px solid rgba(136, 136, 136, 0.308);
    z-index: 1;
    color: #fff;
  }

  .footer__media {
    display: flex;
    gap: 15px;
  }

  .footer__link {
    padding: 1rem;
    border-radius: var(--radius-circle);
    transition: 50ms;
  }

  .footer__link:hover:first-child {
    color: #0e76a8;
    border: 1px solid #0e76a8;
  }

  .footer__link:hover:last-child {
    color: #333;
    border: 1px solid #333;
  }
}


@media screen and (max-width: 1424px) and (min-width: 768px) {
  footer {
    width: 100%;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border-top: 1px solid rgba(250, 250, 250, 0.1);
    color: #fff;
  }


  .footer__media {
    display: flex;
  }

  .footer__link {
    padding: .5rem;
    transition: 50ms;
  }
}